@import "./normalize.css";
@import "~antd/dist/antd.css";
@import "../iconfont/iconfont.css";

body{
  font-family: Microsoft YaHei;
}

::-webkit-scrollbar{
  width: 10px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:rgba(0,0,0,0.1);

}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;

  background:rgba(0,0,0,0.2);
}

